<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C_School</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="p-3 mb-2 bg-dark text-white">



<div class="text-center">

    <img src="images/CertyfikatC_School.jpg"><br><br>
    <a href="/zobaczCertyfikaty"class="btn btn-success" role="button">BACK</a><br><br>

</div>
</body>
</html>