<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certyfikaty</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-dark text-white">

<div class= "text-center">
    <h1>My completed courses</h1><br><br>
</div>
<div >
    <h2>JAVA Hibernate (8.5 h) - strefakursów.pl </h2><br>
    <a href="/Hibernate"class="btn btn-success" role="button">Click to view</a><br><br><br>
    <h2>JAVA Developer (270h) - C_School </h2><br>
    <a href="/C_School"class="btn btn-success" role="button">Click to view</a><br><br>
    <h2>JAVA Spring Cloud (14.5h) - Udemy </h2><br>
    <a href="/Udemy"class="btn btn-success" role="button">Click to view</a><br><br>
    <h2>Kurs JAVA - testy jednostkowe (4.5h) - strefakursów.pl </h2><br>
    <a href="/JUnit"class="btn btn-success" role="button">Click to view</a><br><br>

    <div class="text-center">
    <a href="/"class="btn btn-danger" role="button">Back</a><br><br></div>
</div>
</body>
</html>