<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projekty</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body class="p-3 mb-2 bg-dark text-white">

<div class= "text-center">
    <h1>My own projects</h1><br><br>
</div>

<div >
    <h2>Web Weather Forecast Application</h2>
    <p>In this web application You can check the current weather forecast for the selected city.</p>
    <p> The application connects to an external API to get selected informations about weather.</p>
    <p><strong> Architecture: Spring, Java 8, JSON.</strong></p><br>

    <a href="https://api-weather-damian.herokuapp.com/" target="_blank" class="btn btn-success" role="button">Application</a>
    <a href="https://github.com/DamianStrzelczyk96/ApiWeatherForecast" target="_blank" class="btn btn-warning" role="button">GitHub</a><br><br>

    <h2>MAKE YOUR OWN COMPUTER</h2><br>
    <p>Web computer store. A web application that allows you to use an independent order of parts or use a ready computer set,</p>
    <p> the user sees the price for the entire set of ordered parts, then enters the data for order,</p>
    <p>selection of delivery and sees a summary and data for the transfer.</p>
    <p><strong>Technology: Java 8, Maven, Spring 5, JPA, Hibernate, HTML5, Thymeleaf</strong></p><br>
    <a href="https://make-your-own-computer.herokuapp.com/" target="_blank" class="btn btn-success" role="button">Application</a>
    <a href="https://github.com/DamianStrzelczyk96/ComputerSet" target="_blank" class="btn btn-warning" role="button">GitHub</a><br><br>
    <h2>SPACE METEOR CRASH</h2>
    <p>Simple window game, made completly in JAVA.</p>
    <p> In this game You have to avoid crash into flying meteors,</p>
    <p>from different side and different size, with counting points.</p><br>
    <a href="https://github.com/DamianStrzelczyk96/Game.Meteoryt" target="_blank" class="btn btn-warning" role="button">GitHub</a><br><br>
    <div class="text-center">
        <a href="/"class="btn btn-danger" role="button">Back</a><br><br></div>
</div>

</body>
</html>